*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;

}

.wrapper {
    position: relative;
    width: 420px;
    height: 420px;
    background: black;
    border-radius: 8px;
    padding: 20px 40px;
    overflow: hidden;
   /* width: 420px;
    background: black;
    color: azure;
    border-radius: 10px;
    padding: 30px 40px;
    overflow: hidden;*/
}
form {
    position: absolute; /* Changed from absolute to relative */
    z-index: 2;
    inset: 2px;
    background:black;
    color: azure;
    border-radius: 8px;
    padding: 60px 40px;
    /*background: rgb(82, 190, 128);
    color: azure;
    border-radius: 10px;
    padding: 30px 40px;
    overflow: hidden;*/
}
.wrapper::before {
    content: '';
    position:absolute;
    top: -50%;
    left: -50%;
    width: 390px;
    height:490px;
    background: linear-gradient(30deg, transparent, red,green);
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
    z-index: 1;
}
.wrapper::after {
    content: '';
    position:absolute;
    top: -50%;
    left: -50%;
    width: 390px;
    height:490px;
    background: linear-gradient(30deg, transparent, yellow,purple);
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
    z-index: 1;
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input:focus::placeholder { 
    color: #4fe222; 
}
.input-box input:focus { 
    border: 2px solid black;
    box-shadow:  0 0 0 3px black,
                0 0 0 6px #4fe222;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline:none;
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}

.input-box input::placeholder{
    color: #fff;

}
.input-box.error input {
    border: 2px solid red; 
}

.error-message {
    color: red; 
    margin-top: 8px;
    margin-left: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

